@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

nav{
  height: 90px;
  background: #111;
}

nav.sticky{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-inner{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-left: 20px;
}
.icono{
  display: flex;
  max-width: 250px;
  text-align: center;
  color: #fff;
}

.logo{
  color: #fff;
  width: 75px;
}

.links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.elemento-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.elemento-nav.input{

  width: 50px;

}

a{
  color: #fff;
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.nav-inner-secondary{
  
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.secondary{
  height: 70px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 1100px;
  
}

.links-secundaria{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.banner{
  width: 100%;
}

.carrusel{
  width: 75%;
  margin: auto;
}

/* Asegúrate de incluir estas reglas en tus estilos globales o en un archivo CSS que se importe en tu componente */

/* Contenedor del menú desplegable con posición relativa */
.flex.items-center.md\:order-2.space-x-3.md\:space-x-0.rtl\:space-x-reverse {
  position: relative; /* Nuevo */
}

/* Menú desplegable con posición absoluta */
#user-dropdown {
  position: absolute; /* Nuevo */
  top: 100%; /* Nuevo: Ajusta según sea necesario */
  right: 0; /* Nuevo: Ajusta según sea necesario */
}